/* Add users style */
.add-user-btn {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}
.add-user-btn h2 {
    margin-bottom: 15px;
    text-align: center;
}
.add-user-btn form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.form-row label {
    margin-right: 10px;
    margin-left: 10px;
    flex: 0 1 auto;
}
.form-row input,
.form-row select {
    padding: 8px;
    margin-right: 10px;
    width: calc(100% - 200px);
    max-width: 150px;
}
.form-row button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    flex: 0 1 auto;
}
.form-row button:hover {
    background-color: #45a049;
}
.error-message {
    color: red;
    margin-top: 10px;
}

/* Users style */
.user-table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.user-table th, .user-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
.user-table th {
    background-color: #f4f4f4;
    color: #333;
}
.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.user-table tr:hover {
    background-color: #f1f1f1;
}
.user-table-children tr {
    height: 40px;
}
.user-table-children td {
    vertical-align: middle;
}
.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.action-form {
    display: flex;
    align-items: center;
}
.action-form select {
    margin-right: 5px;
}
.action-form button {
    text-align: center;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}
.action-form button:hover {
    background-color: #45a049;
}

/* User sessions style */
.session-tbl {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.session-tbl th, .session-tbl td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
.session-tbl th {
    background-color: #f4f4f4;
    color: #333;
}
.session-tbl tr:nth-child(even) {
    background-color: #f9f9f9;
}
.session-tbl tr:hover {
    background-color: #f1f1f1;
}
.session-tbl td {
    vertical-align: middle;
}