.add-domain-btn {
    border: 2px solid #ddd;
    padding: 15px;
    max-width: 600px; /* Увеличиваем максимальную ширину блока */
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.add-domain-btn h2 {
    text-align: center; /* Выравниваем заголовок по центру */
    margin-bottom: 15px; /* Добавляем немного отступа снизу */
}

.add-domain-btn form {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between;
    gap: 10px; /* Добавляем промежутки между элементами */
}

.add-domain-btn label {
    margin-right: 10px; /* Расстояние между текстом и input */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.add-domain-btn input[type="text"] {
    flex-grow: 2; /* Поле ввода будет растягиваться */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-domain-btn button {
    padding: 8px 12px; /* Корректируем размер кнопки по содержимому */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; /* Запрещаем перенос текста на кнопке */
}

.add-domain-btn button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center; /* Центрируем сообщение об ошибке */
}

/* Стили для контейнера таблицы */
.domain-table-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Позволяет горизонтальную прокрутку при необходимости */
}

/* Стили для таблицы внутри контейнера */
.domain-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.domain-table-container th,
.domain-table-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Фиксированная ширина колонок */
.domain-table-container th:nth-child(1),
.domain-table-container td:nth-child(1) {
    width: 200px; /* Ширина для колонки Domains, измените при необходимости */
}

.domain-table-container th:nth-child(2),
.domain-table-container td:nth-child(2) {
    width: 200px; /* Ширина для колонки Message, измените при необходимости */
}

.domain-table-container th:nth-child(3),
.domain-table-container td:nth-child(3) {
    width: 60px; /* Ширина для колонки Valid Until, измените при необходимости */
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Прячет текст, который не помещается */
    text-overflow: ellipsis; /* Добавляет троеточие, если текст не помещается */
}

.domain-table-container th:nth-child(4),
.domain-table-container td:nth-child(4) {
    width: 20px; /* Ширина для колонки Days Left, измените при необходимости */
}

.domain-table-container th:nth-child(5),
.domain-table-container td:nth-child(5) {
    width: 20px; /* Ширина для колонки Action, измените при необходимости */
}

/* Стили для заголовков таблицы */
.domain-table-container th {
    background-color: #f4f4f4;
}

/* Стили для четных строк */
.domain-table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Стили для строки при наведении */
.domain-table-container tr:hover {
    background-color: #f1f1f1;
}
/* Стиль для маленькой кнопки с иконкой корзинки */
.del-btn {
    align-content: center;
}

.delete-btn {
    background-color: #dc3545; /* Красный цвет */
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #c82333; /* Более тёмный красный при наведении */
}

.delete-btn i {
    font-size: 12px; /* Размер иконки */
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: transparent; /* Убираем цвет для четных строк */
}

th[data-sort] {
    cursor: pointer;
}

/* Для наглядности: меняем цвет при наведении */
th[data-sort]:hover {
    background-color: #acd8fc;
}

/* Стили для стрелок сортировки */
.sort-arrow {
    margin-left: 5px;
}

.status-ok {
    background-color: #d4edda !important; /* Зеленый цвет для нормального срока действия */
}

.status-warning {
    background-color: #fff3cd !important; /* Желтый цвет для срока действия от 7 до 3 дней */
}

.status-error {
    background-color: #f8d7da !important; /* Красный цвет для срока действия 3 дня и меньше */
}

.white {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.green {
    background-color: #d4edda;
    color: #333;
    border: 1px solid #ccc;
}

.yellow {
    background-color: #fff3cd;
    color: #333;
    border: 1px solid #ccc;
}

.red {
    background-color: #f8d7da;
    color: #333;
    border: 1px solid #ccc;
}

.gray {
    background-color: #607D8B;
    color: #fff;
    border: 1px solid #ccc;
}