<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/changepass.style.css">
    <title>Change Password</title>
</head>
<body>
    {{template "navbar.html" .}}
    <div class="change-password-container">
        <h1>Change Password</h1>
        <form action="/change-password" method="post" class="change-password-form">
            <div class="form-row">
                <label for="current-password">Current Password:</label>
                <input type="password" id="current-password" name="current-password" required>
            </div>
            <div class="form-row">
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="form-row">
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>
</body>
</html>
