<div class="navbar">
    <a href="/home" class="back-button" id="back-to-home">Back to Home</a>
    <div class="profile-menu">
        <i class="fas fa-user-circle profile-icon"></i>
        <div class="dropdown" style="display: none;">
            <div class="currentUser">{{.currentUser}}</div>
            <div class="dropdown-divider"></div>
            <a href="/change-password">Change Password</a>
            {{if .isAdmin}}
            <a href="/admin">Manage Users</a>
            {{end}}
            <div class="dropdown-divider"></div>            
            <a href="#" id="logout-link">Logout</a>
        </div>
    </div>
</div>
<script src="/static/js/logout.js"></script>
<script src="/static/js/menu.js"></script>
<script src="/static/js/navbar.js"></script>